<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/navBar.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/formRegister.css'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    
    <script src='/javascripts/sideBar.js' defer></script>
</head>

<body>
    <nav id="nav-container">
        <header id="header"><a class="open-btn" onclick="toggleSidebar()" href="/home">Tênis Zone</a></header>
    </nav>

    <h2 id="register">Cadastre-se</h2>
    <form action="/cadastro" method="POST">
        <div class="form-container">
            <div class="label-container">
                <label for="nome">Nome:<span class="required">*</span></label>
            </div>
            <div class="input-container">
                <input type="text" name="nome" placeholder="Digite seu nome..." required>
            </div>

            <div class="label-container">
                <label for="cpf">Cpf:<span class="required">*</span></label>
            </div>
            <div class="input-container">
                <input type="text" name="cpf" placeholder="Digite seu cpf..." required>
            </div>

            <div class="label-container">
                <label for="telefone">Telefone:<span class="required">*</span></label>
            </div>
            <div class="input-container">
                <input type="text" name="telefone" placeholder="Digite seu telefone..." required>
            </div>

            <div class="label-container">
                <label for="email">Email:<span class="required">*</span></label>
            </div>
            <div class="input-container">
                <input type="text" name="email" placeholder="Digite seu email..." required>
            </div>

            <div class="label-container">
                <label for="senha">Senha:<span class="required">*</span></label>
            </div>
            <div class="input-container">
                <input type="password" name="senha" placeholder="Digite sua senha..." required>
            </div>

            <div class="label-container">
                <label for="data_nascimento">Data de Nascimento:<span class="required">*</span></label>
            </div>
            <div class="input-container">
                <input type="date" name="data_nascimento" placeholder="Digite sua data de nascimento..." required>
            </div>

            <button class="register-button">Cadastre-se</button>
        </div>
    </form>
</body>

</html>