.alert-error{
    width: 300px;
    right: 30px;
    bottom: 30px;
    position: fixed;
    background-color: #eb0e0e;    
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    animation: fadeOut 5s forwards;
    z-index: 1000;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
}