* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
   font-family: 'Bebas Neue', sans-serif;
}

#login {
    font-size: 30px;
    margin-top: 135px;
    text-align: center;
    color: #000;
}

.form-container {
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* From Uiverse.io by kamehame-ha */ 
.coolinput {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #52c4db;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #fff;
  width: fit-content;
}

.coolinput input[type=text], input[type=password].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px solid #52c4db;
  border-radius: 5px;
  background: #fff;
}

.coolinput input[type=text], input[type=password].input:focus {
  outline: none;
}

input[type="text"] {
    width: 400px;
    height: 30px;
    padding: 05px;

    border-radius: 50px;
    border: 1px solid;
}

input[type="password"] {
    width: 400px;
    height: 30px;
    padding: 05px;
    border-radius: 50px;
    border: 1px solid;
}

.link{
    padding: 05px 10px;
}

.link a{
    text-decoration: none;
    color: #52c4db;
}

.button-login {
    display: block;
    width: 100px;
    height: auto;
    padding: 10px 10px;
    margin: 40px auto;
    background-color: #52c4db;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-login:hover {
    background-color: #4199ab;
    transition: 0.5s;
}

.label-container a {
    text-decoration: none;
    color: #52c4db;
}