* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#products {
  max-width: 1300px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 80px 20px 20px;
}

.product-container {
  width: 278px;
  height: auto;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(16, 10, 10, 0.1);
  transition: 0.3s;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;  
}

.product-container:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.product-container p {
  margin: 5px 0; 
}

.buy {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #52c4db;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  text-decoration: none;
}

.buy:hover {
  background-color: #4199ab;
}

.slider-container {
  position: relative;
  width: 220px;
  height: 240px;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out ;
}

.slider img {
  width: 220px;
  height: 240px;
  flex-shrink: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  transition: 0.5s;
}

.prev:hover,
.next:hover {
  background-color: #52c4db;
}

.prev {
  left: 3px;
}

.next {
  right: 3px;
}

a {
  text-decoration: none;
  color: #fff;
}

.old-price {
  text-decoration: line-through;
  font-size: 15px;
  color: #7d7d7d;
  font-weight: bold;
}


.text-footer{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
  color: #fff;
  text-align: center;
  background-color: #52c4db;
  border-top: 1px solid #ccc;
  padding: 10px 10px;
}


@media(max-width: 600px) {
  #nav-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  #nav-items {
    flex-direction: column;
    align-items: center;
  }

  #products {
    flex-direction: column;
    align-items: center;
  }

  .product-container {
    width: 90%;
    max-width: 300px;
  }
}