* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#myAccount {
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
    color: #000;
}

.form-container {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label-container {
    width: 300px;
    margin: 05px 21px;
}

.input-container {
    width: 400px;
    height: 30px;
    margin: 0 auto;
}

input[type="text"] {
    width: 400px;
    height: 30px;
    padding: 05px;
    border-radius: 50px;
    border: 1px solid;
}

input[type="password"] {
    width: 400px;
    height: 30px;
    padding: 05px;
    border-radius: 50px;
    border: 1px solid;
}

input[type="date"] {
    width: 400px;
    height: 30px;
    padding: 05px;
    border-radius: 50px;
    border: 1px solid;
}


.edit-button {
    display: block;
    width: 100px;
    padding: 10px 10px;
    margin: 15px auto;
    background-color: #52c4db;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #4199ab;
    transition: 0.5s;
}