*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

.my-purchase{
    max-width: 1100px;
    margin: 40px auto;
    padding: 100px;
    background-color: white;
    border-radius: 12px;
}

.item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 15px;
    box-shadow: 0 0 10px rgba(16, 10, 10, 0.1);
}

.item img {
    width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}


.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin: 0 0 10px;
}

.item-details p {
    margin: 5px 0;
}