*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

i:hover{
  color: #000;
  transition: 0.3s;
}


.cart-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 100px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(16, 10, 10, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cart-item img {
    width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin: 0 0 10px;
}

.item-details p {
    margin: 5px 0;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 5px 0;
}

button {
    width: 100px;
    padding: 10px 10px !important;
    margin: 5px 5px 0 0;
    background-color: #52c4db;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a0b3;
}

.remove-btn {
    width: 40px;
    background-color: #dc3545;
    float: right;
}

.remove-btn:hover {
    background-color: #b02a37;
}

.clear-btn {
    background-color: #ffc107;
}

.clear-btn:hover {
    background-color: #e0a800;
}

.cart-summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#info-container {
    text-align: right;
}

#total-value{
    margin-top: 20px;
}

.empty {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

#box-cep {
    max-width: 190px;
    max-height: auto;
}

#box-cep p {
    margin-bottom: 10px;
}

#box-cep input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"] {
    width: 50px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 6px;
    cursor:pointer;
}   

.sidebar .close-btn:hover {
  color: #000;
  transition: 0.5s;
}

.sidebar .close-btn {
  width: auto !important;
  padding: 0 !important;
  font-size: 24px !important;
  background: none !important;
  border: none !important;
  color: white !important;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}